/* .navbar {
  background-color: bisque;
} */

.logo {
  font-size: 32px;
  font-weight: 700;
  padding: 10px 0;
}

.navItems {
  display: flex;
  align-items: center;
  margin: 0;
  /* padding: 0; */
}

.navItems li {
  list-style: none;
  padding: 8px 16px;
}
