#footer {
  background-color: #2c3639;
  color: #fff;
  padding: 20px 0;
}

.logoFooter{
    padding: 4px 8px;
}

.emailForm {
  background-color: #5a5a5a;
  padding: 5px;
}

.emailInput {
  border: none;
  color: #fff;
  background-color: #5a5a5a;
  margin: 10px 5px;
}

.emailInput::placeholder {
  color: #fff;
}

.emailInput:focus {
  outline: none !important;
  border: none;
}

.btnEmail {
  padding: 8px 3px 8px 16px;
  border: none;
  background-color: #eaeaea;
}

.btnEmail span {
  padding: 6px 8px;
  margin-left: 3px;
  background-color: #aaaaaa;
}

.footerLink ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.footerLink ul li {
  padding: 8px 16px;
}
